*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.btn {
    // anchors/links are default line, so making it a block ensures it doesn't overlap
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;

    background-color: var(--clr-accent, blue);
    padding: .5em 1.25em;
    border-radius: .25rem;

    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    // clamp(smallers, rate of growth, biggest)
    font-size: clamp(3rem, calc (5vw + 1rem), 4.5rem);
    text-transform: uppercase;
}