*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    // height: auto;
    display: block;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

// Add a margin to the two children of this class that is after the first
.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, white);
    font-weight: 700;
    text-transform: uppercase;
    padding: .5em 1.25em;
    background-color: var(--clr-accent, blue);
    font-size: 1.125em;
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    color: #17353d;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    // background-color: #222;

    @supports (background-blend-mode: multiply) {
        background-image: url(../images/shoe-3.png),
            radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}